<div class="collapsible" [ngStyle]="{'width': isMobile ? '300px' : (mostrarConteudo ? '600px' : '300px')}">
    <ng-content select="[title]"></ng-content>
    <ng-content select="[subtitle]"></ng-content>
    <button (click)="toggleConteudo()">Show/Hide</button>
    <div *ngIf="mostrarConteudo" class="collapsible-content">
        <p>
            In this lesson, we will learn how to use a component into another component. This is a very common
            situation in Angular applications.
        </p>
        <p>
            To do this we will create a footer component and use it in the home component.
        <p>Follow this steps to create a new component:</p>

        <ol>
            <li>
                <input type="checkbox" id="substep1"><label for="substep1">With VSCode open, type in the
                    terminal:</label>
            </li>
            <app-copyble>
                <p>ng generate component components/footer</p>
            </app-copyble>
            <li>
                <input type="checkbox" id="step2">
                <label for="step2"><strong>Edit your component</strong></label>
                <ul>
                    <li>
                        <input type="checkbox" id="substep1"><label for="substep1">Edit the file footer.component.html,
                            adding thist text: "This is my Personal Web Site" </label>
                    </li>
                    <app-copyble>
                        <p>&lt;p&gt;This is my Personal Web Site&lt;/p&gt;</p>
                    </app-copyble>
                </ul>
            </li>
        </ol>

        <p>And follow this steps to create use the footer component in the home.component:</p>
    </div>
</div>