<app-header></app-header>
<main>
    <section class="main-section">
        <div class="content">
            <div class="text">
                <span>WAY</span>
                <h1>An simple way for your pratical Angular learning</h1>
                <div class="space50">
                </div>
                <button (click)="downloadEbook()" class="download-button">Download eBook</button>
            </div>
        </div>
        <p class="learn-text"></p>
        <app-collapsible>
            <div title>
                <p class="collapsible-title">First Lesson</p>
            </div>
            <div subtitle>
                <p class="collapsible-title">Install Angular</p>
            </div>
            <ol>
                <li>
                    <strong>Install Node.js:</strong><br>
                    <ul>
                        <li>Visit the official Node.js website at <a href="https://nodejs.org/en/download">nodejs.org</a>.</li>
                        <li>Download the recommended version for your operating system.</li>
                        <li>Follow the installation instructions provided by the installer.</li>
                    </ul>
                </li>
                
                <li>
                    <strong>Verify Node.js and npm (Node Package Manager) installation:</strong><br>
                    <ul>
                        <li>Open the terminal or command prompt.</li>
                        <li>Type <code class="code-container">node -v</code> and press Enter to check the Node.js version.</li>
                        <li>Type <code class="code-container">npm -v</code> and press Enter to check the npm version.</li>
                        <li>Ensure both display version numbers, confirming a successful installation.</li>
                    </ul>
                </li>
                
                <li>
                    <strong>Install Angular CLI using npm:</strong><br>
                    <ul>
                        <li>In the terminal or command prompt, type the following command and press Enter:</li>
                        <code class="code-container">npm install -g &#64;angular/cli</code>
                        <li>This will install Angular CLI globally on your system.</li>
                        <li>Wait until the installation process is complete.</li>
                    </ul>
                </li>
            </ol>
            <div class="collapsible-video">
                <app-youtube02></app-youtube02>
            </div>
        </app-collapsible>
        <p class="learn-text"></p>
        <app-collapsible>
            <div title>
                <p class="collapsible-title">Second Lesson</p>
            </div>
            <div subtitle>
                <p class="collapsible-title">Create and Run a Project</p>
            </div>
            <p text class="collapsible-text">In Angular, a component is like a piece of a web page that you can build
                and reuse. Imagine your web page is a puzzle, and each component is one piece of that puzzle. Components
                have their own jobs and features. </p>
            <p text class="collapsible-text">For instance, you might have a component for a header, another for a
                sidebar, and one for the main content area.</p>
            <p text class="collapsible-text">Each component can have its own look, behavior, and data. By putting these
                components together, you create a complete and interactive web page. So, in Angular, components help you
                organize and build your web application in a modular and manageable way.</p>
            <div class="collapsible-video">
                <app-youtube02></app-youtube02>
            </div>
        </app-collapsible>
        <p class="learn-text"></p>
        <app-collapsible>
            <div title>
                <p class="collapsible-title">Thirth Lesson</p>
            </div>
            <div subtitle>
                <p class="collapsible-title">Creating a Component and Setting the Routes</p>
            </div>
            <p text class="collapsible-text">In this video, you will learn our first lesson</p>
            <div class="collapsible-video">
                <app-youtube02></app-youtube02>
            </div>
        </app-collapsible>
        <p class="learn-text"></p>
        <!--
        <p class="learn-text">Install Node.js</p>
        <app-youtube02></app-youtube02>
        <p class="learn-text">Install Node.js</p>
        <app-video></app-video>
        <p class="learn-text">Installs Angular CLI</p>
        <app-video></app-video>
        <p class="learn-text">Start your Angular journey today in a practical way!</p>
        <app-video></app-video>
        <p class="learn-text">Creating a Project on Github</p>
        <app-video></app-video>
        <p class="learn-text">Run your First Project</p>
        <app-video></app-video>
        -->
    </section>
</main>
<app-footer></app-footer>