<app-header></app-header>
<main>
    <section class="main-section">
        <div class="content">
            <div class="text">
                <span>WAY</span>
                <h1>An simple way for your pratical Angular learning</h1>
                <div class="space50">
                </div>
                <button (click)="downloadEbook()" class="download-button">Download eBook</button>
            </div>
        </div>
        <p class="learn-text"></p>
        <app-collapsible>
            <div title class="collapsible-title">First Lesson</div>
            <p text class="collapsible-text">In this video, you will learn our first lesson</p>
            <div class="collapsible-video">
                <app-youtube02></app-youtube02>
            </div>
        </app-collapsible>
        <p class="learn-text"></p>
        <app-collapsible>
            <div title class="collapsible-title">Second Lesson</div>
            <p text class="collapsible-text">"In this video, you will learn our second lesson. Here you will build a new compopnente</p>
            <div class="collapsible-video">
                <app-youtube02></app-youtube02>
            </div>
        </app-collapsible>
        <p class="learn-text"></p>
        <!--
        <p class="learn-text">Install Node.js</p>
        <app-youtube02></app-youtube02>
        <p class="learn-text">Install Node.js</p>
        <app-video></app-video>
        <p class="learn-text">Installs Angular CLI</p>
        <app-video></app-video>
        <p class="learn-text">Start your Angular journey today in a practical way!</p>
        <app-video></app-video>
        <p class="learn-text">Creating a Project on Github</p>
        <app-video></app-video>
        <p class="learn-text">Run your First Project</p>
        <app-video></app-video>
        -->
    </section>
</main>
<app-footer></app-footer>