<app-header></app-header>
<main>
    <section class="main-section">
        <div class="content">
            <div class="text">
                <span>ANGULAR WAY</span>
                <h1>An simple way for your pratical angular learning</h1>
            </div>
            <img ngSrc="./assets/angular.png" width="125" height="125" alt="Angular Image">
        </div>
        <p class="learn-text">Start your Angular journey today in a practical way!</p>
        <app-video></app-video>
    </section>
</main>