/* Define a classe da seção principal */
.main-section {
    display: flex;
    /* Usa o flexbox para alinhar os itens */
    justify-content: center;
    /* Alinha os itens horizontalmente no centro */
    align-items: center;
    /* Define a largura da seção */
    flex-direction: column;
    /* Adicionando a direção de coluna para alinhar o novo texto abaixo */
    background-color: #f6f6f6;
}

/* Define a classe para o conteúdo dentro da seção */
.content {
    display: flex;
    /* Usa o flexbox para alinhar os itens */
    justify-content: center;
    /* Alinha os itens horizontalmente no centro */
    align-items: flex-start;
    /* Alinha os itens verticalmente no topo */
    gap: 20px;
    /* Define o espaçamento entre a imagem e o texto */
}

/* Define a classe para o texto */
.text {
    text-align: center;
    /* Alinha o texto à esquerda */
    font-family: CodePro;
}

/* Define o estilo para a tag <span> dentro da seção principal */
.main-section span {
    font-size: 40px;
    /* Define o tamanho da fonte */
    font-weight: 200;
    /* Define o peso da fonte */
    font-family: CodePro;
    /* Define a família da fonte */
}

/* Define o estilo para a tag <h1> dentro da seção principal */
.main-section h1 {
    font-size: 20px;
    /* Define o tamanho da fonte */
    font-weight: 300;
    /* Define o peso da fonte */
    font-family: CodePro;
}

.learn-text {
    margin-top: 20px;
    /* Adicionando margem acima do novo texto */
    font-size: 16px;
    color: black;
    /* Alterando a cor do texto */
}

.space50{
    margin-bottom: 50px;
}

/* Define as regras de mídia para telas maiores */
@media (min-width: 768px) {
    .content {
        flex-direction: row;
        /* Altera a direção do flexbox para linha */
        align-items: center;
        /* Alinha os itens verticalmente no centro */
    }
}

/* Classe oriunda do Component Collapsible */
.collapsible-title {
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

/* Classe oriunda do Component Collapsible */
.collapsible-text {
    color: black;
    margin-bottom: 10px;
    text-align: justify;
    font-family: CodePro;
    font-size: 15px;
    line-height: 2.0; 
}

/* Classe oriunda do Component Collapsible */
.collapsible-video {
    align-items: center;
    margin: 0 auto;
}


.download-button {
    background: linear-gradient(45deg, #ff002c, #eb00b7, #b910f3);
    border: none;
    color: white; /* Cor do texto do botão */
    padding: 15px 32px; /* Espaçamento interno (altura x largura) */
    text-align: center; /* Alinhar texto ao centro */
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Sombra */
    transition: 0.3s; /* Transição suave ao passar o mouse */
  }
  
  .download-button:hover {
    background-color: #45a049; /* Mudar cor de fundo ao passar o mouse */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Mudar sombra ao passar o mouse */
  }