<div class="collapsible" [ngStyle]="{'width': isMobile ? '300px' : (mostrarConteudo ? '600px' : '300px')}">
    <ng-content select="[title]"></ng-content>
    <ng-content select="[subtitle]"></ng-content>
    <button (click)="toggleConteudo()">Show/Hide</button>
    <div *ngIf="mostrarConteudo" class="collapsible-content">
        <ng-content select="[text]"></ng-content>
        <h2>Steps to create a new Angular project</h2>
        <ul>
            <li>
                <input type="checkbox" id="step1">
                <label for="step1">Open your IDE</label>
            </li>

            <li>
                <input type="checkbox" id="step2">
                <label for="step2">Navigate to the directory where you will place the folder for your project:
                    <ul>
                        <li><input type="checkbox" id="substep1"><label for="substep1">Click on
                                <em>File</em></label></li>
                        <li><input type="checkbox" id="substep2"><label for="substep2">Then click on <em>Open
                                    Folder</em></label></li>
                        <li><input type="checkbox" id="substep3"><label for="substep3">And open the directory where
                                you will place the folder for your project</label></li>
                    </ul>
                </label>
            </li>
            <li>
                <input type="checkbox" id="step3">
                <label for="step3">Click on the <em>Terminal</em> tab</label>
            </li>
            <li>
                <input type="checkbox" id="step4">
                <label for="step4">Then click on <em>New Terminal</em></label>
            </li>
            <li><input type="checkbox" id="step5"><label for="step5">In the terminal, type:</label></li>
            <p><code class="code-container">ng new project_name</code></p>
            <li>
                <input type="checkbox" id="step7">
                <label for="step7">Press <em>Enter</em></label>
            </li>
            <p>You will see the following question
            </p>
            <p><code class="code-container">Which stylesheet format would you like to use? (Use arrow keys)</code>
            </p>
            <p>With the following options</p>
            <p><code class="code-container">> CSS[ https : //deve10per.mozi11a.org/docs/Web/CSS]</code></p>
            <pre><code class="code-container">Sass (SCSS)[ https://sass-lang.com/documentation/syntax#scss]</code></pre>
            <p><code
                    class="code-container">Sass (Indented) [ https://sass-lang.com/documentation/syntax#the-indented-syntax]</code>
            </p>
            <p><code class="code-container">Less [ http://lesscss.org]</code></p>
            <li>
                <input type="checkbox" id="step10">
                <label for="step10">Move the arrow <code class="code-container">></code> using the arrow keys on
                    your keyboard and choose <code class="code-container">Sass (SCSS)...</code>, click
                    <em>Enter</em> to confirm</label>
            </li>
            <p>A second question will be asked</p>
            <p><code class="code-container">
                ? Do you want to enable Server-Side Rendering (SSR) and Static Site Generation (G/Prerendering)?
            </code></p>
            <li>
                <input type="checkbox" id="step12">
                <label for="step12">Respond with <code class="code-container">Y</code> and press
                    <em>Enter</em></label>
            </li>
            <li>
                <input type="checkbox" id="step13">
                <label for="step13">And wait until the project files are generated</label>
            </li>
            <li><input type="checkbox" id="step14"><label for="step14">After the project creation is completed, type
                    in the terminal:</label></li>
            <p><code class="code-container">cd project_name</code></p>
            <p>
                Now you are inside your Angular project directory
            </p>
            <li><input type="checkbox" id="step17"><label for="step17">To run your first project, type on the
                    terminal:</label></li>
            <p><code
                class="code-container">ng serve</code></p>
            <p>The Angular CLI will provide a local
                    development server allowing you to view your project in the
                    browser and automatically refresh when changes occur in the files.
            </p>
            <p>Por padrão o Angular CLI disponibilizará o
                    servidor <code class="code-container">http://localhost:4200/</code>
            </p>
        </ul>
        <ng-content></ng-content>
    </div>
</div>