body{
    background-color: #f6f6f6;
    margin: 0px; /* Remover margens padrão */
}

@font-face {
    font-family: 'CodePro';
    src: url('./assets/fonts/CodePro/SourceCodePro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}