/* Estilos para o componente de vídeo responsivo */
youtube-player {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Proporção 16:9 para o vídeo */
    overflow: hidden;
}

youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}