<div class="collapsible" [ngStyle]="{'width': isMobile ? '300px' : (mostrarConteudo ? '600px' : '300px')}">
    <ng-content select="[title]"></ng-content>
    <ng-content select="[subtitle]"></ng-content>
    <button (click)="toggleConteudo()">Show/Hide</button>
    <div *ngIf="mostrarConteudo" class="collapsible-content">
        <ng-content select="[text]"></ng-content>
        <ol>
            <li>
                <input type="checkbox" id="step1">
                <label for="step1"><strong>Create a component</strong></label>
                <ul>
                    <li>
                        <input type="checkbox" id="substep1"><label for="substep1">Type in your terminal:</label>
                    </li>
                    <app-copyble>
                        <p>ng generate component components/home</p>
                    </app-copyble>
                    <p><code class="code-container">ng generate component</code> is the command responsible to buil four
                        files that make parte of your components.</p>
                    <p>The css file is to style your component</p>
                    <p>The html file is to build the elements of your component</p>
                    <p>The ts file is TypeScript file. In this file your set functions, import modules, dependences and
                        other components for your component.</p>

                    <p>Now your just create a componente called <code class="code-container">home</code> in the path
                        <code class="code-container">component</code>
                    </p>
                </ul>
            </li>
            <li>
                <input type="checkbox" id="step2">
                <label for="step2"><strong>Edit your component</strong></label>
                <ul>
                    <li>
                        <input type="checkbox" id="substep1"><label for="substep1">Write in the html file of your
                            component what you want. Like our Hello Word below:</label>
                    </li>
                    <app-copyble>
                        <p>&lt;p&gt;Hello Word!&lt;/p&gt;</p>
                    </app-copyble>
                </ul>
            </li>
            <li>
                <input type="checkbox" id="step2">
                <label for="step2"><strong>Do the fourth lesson to set the app.component files and the app.routes.ts file to renderize the home component</strong></label>
            </li>
        </ol>
        <div class="collapsible-video">
            <app-youtube002></app-youtube002>
        </div>
    </div>
</div>